**/.vscode
**/.github
**/.git
**/.gitignore
**/Dockerfile*
**/.dockerignore
**/node_modules
**/npm-debug.log
**/.env

packages/runner/db/*
!packages/runner/db/ckb-indexer-testnet
packages/runner/temp-db
